<!-- <ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-buttons slot="end">
			<ion-icon icon="notifications" style="font-size: 30px;"></ion-icon>
		</ion-buttons>
		<ion-title>
			Events
		</ion-title>
	</ion-toolbar>
</ion-header> -->
<app-header></app-header>
<ion-content>
	<ion-row>
		<ion-col size="12" class="ion-no-padding">
			<img src="/../assets/images/events/events-banner.jpg">
		</ion-col>
	</ion-row>
    <ion-row class="container">
        <ion-col size="12">
            <h1>True Blue Celebrations</h1>
            <p>There is nothing quite like a Filipino gathering. Amuma is the honor of having you in our home. We’ll remember your name and put thought into every detail. We may be your hosts, but you are most certainly our family.</p>
        </ion-col>
        <ion-col size="12">
            <hr>
        </ion-col>
        <ion-col size="12">
            <h1>Weddings and Celebrations</h1>
        </ion-col>
        <ion-col size="12">
            <p><strong>Weddings</strong></p>
            <p>Bluewater Maribago Beach Resort has been known to provide the perfect tropical setting for your special day. Celebrate one’s fairy-tale union with the sea as a backdrop and the warm breeze welcoming a new beginning.</p>
            <p>We offer different Beach Wedding Packages to fit your needs or can customize one to your meet your particular requirements. Our dedicated Banquet Team is on hand to help you conceptualize or design your unique event.</p>
        </ion-col>
        <ion-col size="12">
            <img src="/../assets/images/events/wedding-img1.jpg">
        </ion-col>
        <ion-col size="12">
            <p><strong>Your Private Affair</strong></p>
            <p>Be it for your anniversary, engagement, or romantic time together – celebrate the gift of love with an intimate dinner by the sea. Bluewater Maribago offers a special package that consists of a full dinner arrangement at carefully selected locations around the resort. Away from the crowd, you can choose from our beach front, Amuma wing or private island settings.</p>
        </ion-col>
        <ion-col size="12">
            <img src="/../assets/images/events/private-affair-img1.jpg">
        </ion-col>
        <ion-col size="12">
            <p><strong>Barefoot Celebrations</strong></p>
            <p>It is the ultimate party package for those looking for intimate and pocket celebrations of no more than 10 people. Bluewater Maribago whips a feast for you in the most relaxing and cozy setting at the picnic grove or by the beach at sunset, with the choice of the following mouth-watering menus carefully crafted by our team of expert chefs.</p>
        </ion-col>
        <ion-col size="12">
            <img src="/../assets/images/events/barefoot-celeb-img1.jpg">
        </ion-col>
        <ion-col size="12">
            <img src="/../assets/images/events/event-img1.jpg">
        </ion-col>
        <ion-col size="12">
            <hr>
        </ion-col>
        <ion-col size="12">
            <h1>Meetings and Beach Outings</h1>
        </ion-col>
        <ion-col size="12">
            <p>Beginnings are among life’s little marvels – baptisms, graduations, job promotions, and beach weddings, among many others. Weave garden magic into these life celebrations. </p>
            <p>From hosting conventions to informal social gatherings of friends and business associates, Bluewater Maribago Beach Resort has an array of facilities and services to meet your requirements.</p>
        </ion-col>
        <ion-col size="12">
            <img src="/../assets/images/events/meetings-img1.jpg">
        </ion-col>
        <ion-col size="12">
            <p><strong>Corporate Events and Entertainment</strong></p>
            <p>Bluewater Maribago Beach Resort mixes serious business with pleasure. Here, one can engage in intense meetings during the day and easily retire to a relaxing swim at the beach or laze in the sun thereafter. Check out our host of facilities and professional services to hold company meetings, conferences and seminars. We can also set-up special functions for corporate entertaining and social gatherings.</p>
        </ion-col>
        <ion-col size="12">
            <img src="/../assets/images/events/corp-events-img1.jpg">
        </ion-col>
        <ion-col size="12">
            <p><strong>Team Building Events</strong></p>
            <p>Motivate your employees to work together and network effectively through team-building activities. We can help set-up and coordinate team-building exercises to fit your needs. </p>
        </ion-col>
        <ion-col size="12">
            <img src="/../assets/images/events/team-building-img1.jpg">
        </ion-col>
        <ion-col size="12">
            <hr>
        </ion-col>
        <ion-col size="12">
            <h1>Venues</h1>
        </ion-col>
        <ion-col size="12">
            <p><strong>Bluewater Private Island</strong></p>
            <p>A 1.1-hectare private island (65 meters away from the beachfront) is a unique place that offers breathtaking view of the open sea. It is perfect for romantic, intimate and exclusive beach wedding ceremonies and receptions. For grand celebrations and large events, our Bluewater private island can seat up to 1,300 guests.</p>
        </ion-col>
        <ion-col size="12">
            <img src="/../assets/images/events/venue-img1.jpg">
        </ion-col>
        <ion-col size="12">
            <p><strong>Beachfront</strong></p>
            <p>A 110-meter white sand beach surrounded by golden coconut palms, talisay trees and thatch huts. This backdrop coupled with great food and captivating sounds of the sea make for an enjoyable tropical party and beach weddings.</p>
        </ion-col>
        <ion-col size="12">
            <img src="/../assets/images/events/venue-img2.jpg">
        </ion-col>
        <ion-col size="12">
            <p><strong>Pecnic Grove</strong></p>
            <p>Located between our main swimming pool and the beach, it is one of the areas in the resort whose landscape remains unchanged since the resort opened its gates to the public. There remains ancient and stately Banyan trees providing a lush canopy that keeps the atmosphere a few centigrade cooler than the rest of the resort. As the seasons change, guests can also witness the color of the green canopies provided by the Banyans and other endemic tree species that dot the landscape change its shade, filtering sunlight in different hues that gives a certain feel of intimacy to your special events.</p>
        </ion-col>
        <ion-col size="12">
            <img src="/../assets/images/events/venue-img3.jpg">
        </ion-col>
        <ion-col size="12">
            <p><strong>Convention Hall</strong></p>
            <p>Our Convention Hall is ideal for business conferences, seminars and meetings. It can also hold private functions and parties. The Convention Hall is located at the ground floor of our Convention Center.</p>
        </ion-col>
        <ion-col size="12">
            <img src="/../assets/images/events/venue-img4.jpg">
        </ion-col>
        <ion-col size="12">
            <p><strong>Conference Rooms - Bargas | Balete</strong></p>
            <p>Located at the second floor of our Convention Center, Bluewater Maribago Beach Resort has two conference rooms named after two trees that can be found in the resort - Bagras (Conference Room 1) and Balete (Conference Room 2). Our conference rooms are perfect venues for intimate gatherings, corporate entertaining and cocktail parties.</p>
        </ion-col>
        <ion-col size="12">
            <img src="/../assets/images/events/venue-img5.jpg">
        </ion-col>
        <ion-col size="12">
            <p><strong>Bluewater Gallery</strong></p>
            <p>The Bluewater Gallery makes an interesting venue for small gatherings and meetings with vibrant works of local artists serving as backdrop. It is centrally located with easy access to Allegro Restaurant and main pool. </p>
        </ion-col>
        <ion-col size="12">
            <img src="/../assets/images/events/venue-img6.jpg">
        </ion-col>
        <ion-col size="12">
            <p>For inquiries and reservations,<br>
                please contact our BANQUET SALES Department at <br>
                (032) 402-4100, send an email to events.maribago@bluewater.com.ph <br>
                or simply click the INQUIRE NOW button below.</p>
        </ion-col>
    </ion-row>
</ion-content>
<ion-footer>
    <ion-toolbar color="primary">
        <ion-button expand="full" fill="clear" color="light" style="font-weight: 600" (clik)="openBrowswer()">Book Now</ion-button>
    </ion-toolbar>
</ion-footer>
