<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-icon icon="notifications" style="font-size: 30px;"></ion-icon>
        </ion-buttons>
        <ion-title>
            Gallery
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
	<ion-row>
		<ion-col size="12" class="ion-no-padding">
			<img src="/../assets/images/gallery/gallery-banner.jpg">
		</ion-col>
	</ion-row>
	<ion-row class="container">
		<ion-col size="12">
			<h1>About Us</h1>
			<p>The Bluewater Gallery is an art gallery that features works by Philippine Artists. The Gallery aims to promote Philippine Arts and provide its resort guests with a glimpse of local culture and its talents.</p>
		</ion-col>
		<ion-col size="12">
			<img src="/../assets/images/gallery/gallery-img1.jpg" alt="">
		</ion-col>
		<ion-col size="12">
			<p>It also provides a venue for local artists to showcase their works to both local and international audiences. The Gallery also hosts events and workshops as part of its art appreciation and educational goals.</p>
		</ion-col>
		<ion-col size="12">
			<img src="/../assets/images/gallery/gallery-img2.jpg" alt="">
		</ion-col>
		<ion-col size="12">
			<p>For inquiries and exhibit proposals, please contact us at (032) 402-4100 or send an email to marcomm.maribago@bluewater.com.ph</p>
		</ion-col>
		<ion-col size="12">
			<img src="/../assets/images/gallery/gallery-img3.jpg" alt="">
		</ion-col>
		<ion-col size="12">
			<hr>
		</ion-col>
		<ion-col size="12">
			<h1>Featured Artworks</h1>
		</ion-col>
		<ion-col size="12">
			<p><strong>“Diaphanous by the Sea” by Romulo Olazo</strong></p>
		</ion-col>
		<ion-col size="12">
			<img src="/../assets/images/gallery/romulo-img1.jpg" alt="">
		</ion-col>
		<ion-col size="12">
			<img src="/../assets/images/gallery/romulo-img2.jpg" alt="">
		</ion-col>
		<ion-col size="12">
			<img src="/../assets/images/gallery/romulo-img3.jpg" alt="">
		</ion-col>
		<ion-col size="12">
			<img src="/../assets/images/gallery/romulo-img4.jpg" alt="">
		</ion-col>
		<ion-col size="12">
			<img src="/../assets/images/gallery/romulo-img5.jpg" alt="">
		</ion-col>
		<ion-col size="12">
			<img src="/../assets/images/gallery/romulo-img6.jpg" alt="">
		</ion-col>
		<ion-col size="12">
			<p><strong>“BenCab: Life Drawings Exhibit” by Ben Cabrera</strong></p>
		</ion-col>
		<ion-col size="12">
			<img src="/../assets/images/gallery/ben-img1.jpg" alt="">
		</ion-col>
		<ion-col size="12">
			<img src="/../assets/images/gallery/ben-img2.jpg" alt="">
		</ion-col>
		<ion-col size="12">
			<img src="/../assets/images/gallery/ben-img3.jpg" alt="">
		</ion-col>
		<ion-col size="12">
			<img src="/../assets/images/gallery/ben-img4.jpg" alt="">
		</ion-col>
		<ion-col size="12">
			<img src="/../assets/images/gallery/ben-img5.jpg" alt="">
		</ion-col>
		<ion-col size="12">
			<img src="/../assets/images/gallery/ben-img6.jpg" alt="">
		</ion-col>
		<ion-col size="12">
			<p><strong>“ABSTRAC[SIO]N II” by Sio Monterra</strong></p>
		</ion-col>
		<ion-col size="12">
			<img src="/../assets/images/gallery/sio-img1.jpg" alt="">
		</ion-col>
		<ion-col size="12">
			<img src="/../assets/images/gallery/sio-img2.jpg" alt="">
		</ion-col>
		<ion-col size="12">
			<img src="/../assets/images/gallery/sio-img3.jpg" alt="">
		</ion-col>
		<ion-col size="12">
			<img src="/../assets/images/gallery/sio-img4.jpg" alt="">
		</ion-col>
		<ion-col size="12">
			<img src="/../assets/images/gallery/sio-img5.jpg" alt="">
		</ion-col>
		<ion-col size="12">
			<img src="/../assets/images/gallery/sio-img6.jpg" alt="">
		</ion-col>
		<ion-col size="12">
			<img src="/../assets/images/gallery/sio-img7.jpg" alt="">
		</ion-col>
		<ion-col size="12">
			<img src="/../assets/images/gallery/sio-img8.jpg" alt="">
		</ion-col>
		<ion-col size="12">
			<p><strong>“Joyful Journey” by Celso Pepito</strong></p>
		</ion-col>
		<ion-col size="12">
			<img src="/../assets/images/gallery/celso-img1.jpg" alt="">
		</ion-col>
		<ion-col size="12">
			<img src="/../assets/images/gallery/celso-img2.jpg" alt="">
		</ion-col>
		<ion-col size="12">
			<hr>
		</ion-col>
		<ion-col size="12">
			<h1>Exhibits</h1>
		</ion-col>
		<ion-col size="12">
			<p><strong>2016 - Joyful Journey by Celso Pepito</strong></p>
		</ion-col>
		<ion-col size="12">
			<p>Sulog is the Cebuano word for current. It is from this word that Sinulog, the annual festival held in the city in January in honor of the Sto. Nino, was derived. After they got the image of the Holy Child from the Spaniards, the natives has since been offering to Him a dance that mimics the ebb and flow of rivers and tides.</p>
			<p>Thus, in keeping with the spirit of the Sinulog Festival, the art group Mugna Sugbu offersSulog, an exhibit of paintings by the members of the organization and their artist friends from France. This is the first exhibition of Mugna Sugbu after the group had an exhibition and residency in Paris, France in October to November 2013.</p>
			<p>In their works, the group explores the different meanings that underlie the word sulog or current. The artists tackle current events like the dangers of fanaticism, the effects of urbanization, the desire for social reform, etc. Some works also delve into what’s current in art itself, thus exploring new forms.</p>
			<p>Others inquire into the undercurrents of contemporary culture, how, for instance, native identity persists against the wave of cosmopolitanism in a growing megacity. The artists may also resist nativism or allow exchange of cultural views, as in the case of the three French artists represented here, one of which is a member of the group and a resident of Cebu.</p>
			<p>Mugna Sugbu was actually born out of this need for cultural exchange. The group was formed after the members were selected to be represented in the “12 x 12 International Arts Festival” held in Paris in 2013. They chose the name “Mugna”, which is Cebuano word for “creation”, as a title of their group exhibit in Paris so they can at least teach one word to the French audience. French organizers thus began calling the group Mugna and it stuck.</p>
			<p>Mugna Sugbu was actually born out of this need for cultural exchange. The group was formed after the members were selected to be represented in the “12 x 12 International Arts Festival” held in Paris in 2013. They chose the name “Mugna”, which is Cebuano word for “creation”, as a title of their group exhibit in Paris so they can at least teach one word to the French audience. French organizers thus began calling the group Mugna and it stuck.</p>
			<p>Pit Senyor!</p>
			<p>-Radel Paredes</p>
			<p>Columnist, Cebu Daily News</p>
		</ion-col>
		<ion-col size="12">
			<img src="/../assets/images/gallery/exhibit-img1.jpg" alt="">
		</ion-col>
		<ion-col size="12">
			<img src="/../assets/images/gallery/exhibit-img2.jpg" alt="">
		</ion-col>
		<ion-col size="12">
			<img src="/../assets/images/gallery/exhibit-img3.jpg" alt="">
		</ion-col>
		<ion-col size="12">
			<img src="/../assets/images/gallery/exhibit-img4.jpg" alt="">
		</ion-col>
		<ion-col size="12">
			<p><strong>2015 - Mugna Sugbo</strong></p>
		</ion-col>
		<ion-col size="12">
			<p>Currents</p>
		</ion-col>
		<ion-col size="12">
			<img src="/../assets/images/gallery/exhibit-img5.jpg" alt="">
		</ion-col><ion-col size="12">
			<img src="/../assets/images/gallery/exhibit-img6.jpg" alt="">
		</ion-col><ion-col size="12">
			<img src="/../assets/images/gallery/exhibit-img7.jpg" alt="">
		</ion-col><ion-col size="12">
			<img src="/../assets/images/gallery/exhibit-img8.jpg" alt="">
		</ion-col><ion-col size="12">
			<img src="/../assets/images/gallery/exhibit-img9.jpg" alt="">
		</ion-col>
		<ion-col size="12">
			<p><strong>2013 - Ang Gerilya</strong></p>
		</ion-col>
		<ion-col size="12">
			<img src="/../assets/images/gallery/exhibit-img10.jpg" alt="">
		</ion-col><ion-col size="12">
			<img src="/../assets/images/gallery/exhibit-img11.jpg" alt="">
		</ion-col>
	</ion-row>
</ion-content>
<ion-footer>
	<ion-toolbar color="primary">
		<ion-button expand="full" fill="clear" color="light" style="font-weight: 600">Book Now</ion-button>
	</ion-toolbar>
</ion-footer>
