<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-buttons slot="end">
			<ion-icon icon="notifications" style="font-size: 30px;"></ion-icon>
		</ion-buttons>
		<ion-title>
			Adventure
		</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content>
    <ion-row>
        <ion-col size="12" class="ion-no-padding">
            <img src="/../assets/images/adventure/adventure-banner.jpg">
        </ion-col>
    </ion-row>
    <ion-row class="container">
        <ion-col size="12">
            <h1>Explore multiple ways to have fun</h1>
            <p>There is nothing like a Filipino getaway. Amuma is when you leave for an adventure and return with a story – to a place where discovery becomes second natures</p>
        </ion-col>
        <ion-col size="12">
            <hr>
        </ion-col>
        <ion-col size="12">
            <h1>Day Tour</h1>
        </ion-col>
        <ion-col size="12">
            <p>If you are visiting for a day, Bluewater Maribago Beach Resort is the place to be close to nature, a chance to calm down and let go of worries.</p>
            <p>PhP 2,000 nett per person (Mondays to Thursdays)</p>
            <p>Php 2,500 nett per person (Fridays to Sundays and Public Holidays)</p>
            <p>Resort children policy applies: Ages 6-11 years old are half rate and ages 5 and below are free.</p>
        </ion-col>
        <ion-col size="12">
            <img src="/../assets/images/adventure/day-tour-img1.jpg" alt="">
        </ion-col>
        <ion-col size="12">
            <p><strong>INCLUSIONS:</strong></p>
            <ul>
                <li>Entrance fee</li>
                <li>Lunch buffet at Allegro Restaurant with one round of non-alcoholic beverage</li>
                <li>Use of beach and Allegro pool</li>
                <li>Use of game facilities (Foosball, Billiards, Badminton and Volleyball)</li>
            </ul>
            <p>For inquiries and reservations, please contact us at (032) 402-4100, 0998 843 7688 send an email to maribago@bluewater.com.ph or simply click the BOOK NOW button below.</p>
        </ion-col>
        <ion-col size="12">
            <img src="/../assets/images/adventure/day-tour-img2.jpg" alt="">
        </ion-col>
        <ion-col size="12">
            <hr>
        </ion-col>
        <ion-col size="12">
            <h1>Aquamania</h1>
        </ion-col>
        <ion-col size="12">
            <p>Rediscover the primitive comfort of being embraced in water. The innocence of floating on a velvety blanket of fresh or sea water knows no equal.</p>
            <p>Beach. 110 meters of clean white sand surrounded by golden coconut palms and thatch huts with beach beds. A beach volleyball court and life-sized chessboard offers an alternative to simply lounging under the sun.</p>
            <p>Swimming Pools. Our three beach inspired, lagoon-shaped pools are set amongst lush tropical vegetation, murmuring brooks and cascading waterfalls.</p>
        </ion-col>
        <ion-col size="12">
            <img src="/../assets/images/adventure/aquamania-img1.jpg" alt="">
        </ion-col>
        <ion-col size="12">
            <p><strong>AQUAMANIA</strong></p>
            <p>Our complete aqua sports facility meets your requirements for a total tropical experience – from jet-skiing, scuba-diving, snorkeling and island-hopping.</p>
        </ion-col>
        <ion-col size="12">
            <img src="/../assets/images/adventure/aquamania-img2.jpg" alt="">
        </ion-col>
        <ion-col size="12">
            <hr>
        </ion-col>
        <ion-col size="12">
            <h1>Leisure Activities</h1>
        </ion-col>
        <ion-col size="12">
            <ul>
                <li>Daily Fish Feeding at the Marine Wildlife Lagoon.</li>
                <li>Billiards</li>
                <li>Foosball</li>
                <li>Badminton</li>
                <li>Beach Volleyball</li>
                <li>Life-sized Chess Board</li>
                <li>Children’s Playground at the Grove</li>
                <li>Kiddie Playroom at Dolpo Kids Club</li>
            </ul>
        </ion-col>
        <ion-col size="12">
            <img src="/../assets/images/adventure/leisure-img1.jpg" alt="">
        </ion-col>
        <ion-col size="12">
            <ul>
                <li>Monthly special activities and resort events</li>
                <li>Nightly Themed Dinners including Barrio Fiesta (Country Feast)</li>
                <li>with Cultural Show (every Saturday evening)</li>
                <li>Day and Night Tours</li>
            </ul>
        </ion-col>
        <ion-col size="12">
            <img src="/../assets/images/adventure/leisure-img2.jpg" alt="">
        </ion-col>
        <ion-col size="12">
            <hr>
        </ion-col>
        <ion-col size="12">
            <p><strong>MACTAN SHRINE</strong></p>
            <p>Mactan shrine is where the first historic battle between local natives and foreign intruders took place. To commemorate this event, a 20-meter bronze statue in honor of the first Filipino hero, Lapu-lapu, was erected in this location. Juxtaposed behind Lapu-Lapu’s statue is the Magellan Shrine, a memorial obelisk honoring the Portuguese explorer who succumbed to his untimely passing at the hands of Lapu-Lapu’s men during this memorial battle. Aside from the scenic and historical landmarks, don’t forget to catch the annual re-staging of the Kadaugan sa Mactan around this area.</p>
        </ion-col>
        <ion-col size="12">
            <img src="/../assets/images/adventure/nearby-img1.jpg" alt="">
        </ion-col>
        <ion-col size="12">
            <p><strong>GUITAR INDUSTRY OF CEBU</strong></p>
            <p>Nowadays, Cebu’s reputation for internationally pushing talented musicians and songwriters is known far and wide. But behind every Cebuano artist is his/her first humble love affair with the guitar. One of the first notable artisans known to fuel Cebuano’s passion and flair for the six-string instrument is one Fernando M. Alegre, owner of the internationally-known Alegre Guitar Factory. His guitar shop, located in Abuno, Lapu-lapu City, was one of the few to skillfully master the craft of world-class guitar-making.</p>
        </ion-col>
        <ion-col size="12"><img src="/../assets/images/adventure/nearby-img2.jpg" alt=""></ion-col>
        <ion-col size="12">
            <p><strong>FORT SAN PEDRO</strong></p>
            <p>Known to be the oldest and smallest fort in the Philippines, Fort San Pedro was built eleven days after Miguel de Legazpi’s landing in Cebu and 44 years after the first bloody encounter between Lapulapu’s men and some Spanish explorers. Named after de Legazpi’s flagship (San Pedro), the fort faces the sea warding the island off from belligerent natives and domestic pirates. It became an American barracks during the American occupation and then was converted into classrooms during peace time. But later on, when the World War II broke out, it became a prison camp for Japanese soldiers. Nowadays, it’s one of Cebu’s most famous attraction showcasing important documents, war artifacts and art pieces that stood the test of time.</p>
        </ion-col>
        <ion-col size="12"><img src="/../assets/images/adventure/nearby-img3.jpg" alt=""></ion-col>
        <ion-col size="12">
            <p><strong>MAGELLAN’S CROSS</strong></p>
            <p>When Ferdinand Magellan first landed on the island of Cebu, he was cordially welcomed by Rajah Humabon and Queen Juana. The royal couple of Cebu was then baptized afterwards thus symbolizing the birth of Roman Catholic faith in Asia.</p>
        </ion-col>
        <ion-col size="12"><img src="/../assets/images/adventure/nearby-img4.jpg" alt=""></ion-col>
        <ion-col size="12">
            <p><strong>BASILICA MINORE DEL SANTO NIÑO</strong></p>
            <p>Also known as Santo Niño Basilica, Basilica Minore del Santo Niño is recognized as the oldest Roman Catholic church in the Philippines. It was built on the spot where the iconic statue of the child Jesus, known as the Sto. Niño, was found. The current location also houses a museum and a library which boosts historical relics and artifacts dating back to the 17th century.</p>
        </ion-col>
        <ion-col size="12"><img src="/../assets/images/adventure/nearby-img5.jpg" alt=""></ion-col>
        <ion-col size="12">
            <p><strong>COLON STREET</strong></p>
            <p>Often called as the oldest and the shortest national road in the Philippines, the historical street of Colon Street traces its origins to the town plan by Miguel Lopez de Legazpi, the Spanish conquistador who arrived in the Philippines to establish a colony in 1565. The street was named after Cristóbal Colón (Christopher Columbus).</p>
        </ion-col>
        <ion-col size="12"><img src="/../assets/images/adventure/nearby-img6.jpg" alt=""></ion-col>
        <ion-col size="12">
            <p><strong>CASA GORORDO MUSEUM</strong></p>
            <p>Casa Gorordo is a historic house that was built in the 1850s and was originally owned by Alejandro Rosales Reynes. It was bought by Juan Isidro Gorordo, a Spanish merchant, in 1863. Four generations of the Gorordo family have lived in this house, including Bishop Juan Gorordo, the first Cebuano bishop. The National Historical Institute conferred on the Casa Gorordo Museum the title National Historical Landmark in 1991.The house is now owned and managed by Ramon Aboitiz Foundation Inc through its Culture and Heritage Unit.</p>
        </ion-col>
        <ion-col size="12"><img src="/../assets/images/adventure/nearby-img7.jpg" alt=""></ion-col>
        <ion-col size="12">
            <p><strong>CEBU TAOIST TEMPLE</strong></p>
            <p>Built in 1972 at the wealthy Beverly Hills residential enclave in the suburb of Lahug, the Cebu Taoist Temple was constructed for the Filipino-Chinese ethnic community who resides in the subdivision. The temple has an elevation of 300 meters above sea level, and if you climb the 99 steps to the entrance, you will be rewarded with a panoramic view of Cebu City and the harbor and in the distance Mactan and Bohol islands. Devotees following Taoism traditional rites and rituals climb the 99 steps of the temple to light joss sticks and have their fortunes read by the monks on Wednesdays and Sundays.</p>
        </ion-col>
        <ion-col size="12"><img src="/../assets/images/adventure/nearby-img8.jpg" alt=""></ion-col>
    </ion-row>
</ion-content>
