<!-- <ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-buttons slot="end">
          <ion-icon icon="notifications" style="font-size: 30px;"></ion-icon>
      </ion-buttons>
      <ion-title>Spa</ion-title>
  </ion-toolbar>
</ion-header> -->
<app-header></app-header>

<ion-content>
  <ion-row>
      <ion-col size="12" class="ion-no-padding banner">
          <img src="/../assets/images/spa/spa-banner.jpg">
      </ion-col>
  </ion-row>
  <ion-row class="container">
      <ion-col size="12">
          <h1>Find your Bliss</h1>
          <p>There is nothing quite like Filipino pampering. Simply said, that is what the Amuma Spa is all about. It celebrates the warmth and gracious pampering that the Filipinos are known for.</p>
      </ion-col>
      <ion-col size="12">
          <hr>
      </ion-col>
      <ion-col size="12">
          <h1>Our Name is our Promise</h1>
          <p>Take a break from the daily grind with a visit to our charming Amuma Spa. Relaxing ambience, contemporary native architecture, diverse amenities, and warm Filipino hospitality - it's an experience that celebrates the warm and gracious pampering</p>
      </ion-col>
      <ion-col size="12">
          <img src="/../assets/images/spa/amuma-spa.jpg">
      </ion-col>
      <ion-col size="12">
          <p>Our name is our promise. Amuma - a Visayan word which means indulge with every attention, comfort, and care - is what we strive to graciously offer. Being in Amuma, means being royally pampered. This is a place where you can truly experience a delightful blend of spa services that incorporates ancient and modern therapies from Visayan-Filipino, Asian and Western Cultures</p>
      </ion-col>
      <ion-col size="12">
          <img src="/../assets/images/spa/amuma-spa-img2.jpg">
      </ion-col>
      <ion-col size="12">
          <p><strong>FARM TO SPA</strong></p>
          <p>Looking into every detail to totally enhance your spa experience, we offer treatments that recognize and embrace Philippine ethnic influences. They include the use of local, fresh, and natural ingredients that enhance and provide rejuvenating benefits to your wellbeing and create a healthy spa experience. We want you to benefit from the experience of utilizing natural, organic, and local products in a way you have never thought of before. We want our treatments to be a uniquely fresh and thoroughly organic</p>
      </ion-col>
      <ion-col size="12">
          <img src="/../assets/images/spa/amuma-spa-img3.jpg">
      </ion-col>
      <ion-col size="12">
          <p><strong>LET'S GET SOCIAL</strong></p>
          <p>Find out the latest news and offers of Amuma Spa by connecting with us through social media, be it Facebook or Instagram.</p>
      </ion-col>
      <ion-col size="12">
          <img src="/../assets/images/spa/amuma-spa-img4.jpg">
      </ion-col>
      <ion-col size="12">
          <hr>
      </ion-col>
      <ion-col size="12">
          <h1>Signature Therapies</h1>
      </ion-col>
      <ion-col size="12">
          <p><strong>AMUMA SIGNATURE HILOT</strong></p>
          <p>We have taken our favorite massage (hilot) techniques from across the Philippines and put them together with our own Amuma touch to give you the full body massage experience. Uniquely Filipino, this therapy induces relaxation and promotes healing. Warm fresh banana fronds are used to loosen tense muscles.</p>
      </ion-col>
      <ion-col size="12">
          <img src="/../assets/images/spa/signature-hilot.jpg">
      </ion-col>
      <ion-col size="12">
          <p><strong>HILOT LAMANG</strong></p>
          <p>This is our version of the traditional mystical massage of the islands. This special treatment is never the same twice. Each manghihilot (therapist) has inherited the gift of healing hands from a relative and will pass on this good energy to you as a gift from the divine. Instead, it focuses on areas the healer believes to be the root cause of the problem. Prayer and meditation are part of this experience, which culminates in the healer giving you good advice to keep healthy and fit.</p>
      </ion-col>
      <ion-col size="12">
          <img src="/../assets/images/spa/hilot-lamang.jpg" alt="">
      </ion-col>
      <ion-col size="12">
          <p><strong>MALAKAS AT MAGANDA</strong></p>
          <p>Our ultimate experience for couples! Native ingredients and oils are carefully put in therapeutic rituals that enhance relaxation and intimacy. The treatment begins with gentle coco skin exfoliation coupled with hair and scalp hot oil preparation. Thereafter, the bodies are wrapped in honey. The couple is cleansed as they immerse in a bath of soothing coconut milk and ylang-ylang scent. A very specially prepared meal will be served at the veranda after a rejuvenating oil massage. Perfect for honeymooners!</p>
      </ion-col>
      <ion-col size="12">
          <img src="/../assets/images/spa/malakas-maganda.jpg" alt="">
      </ion-col>
      <ion-col size="12">
          <p><strong>HILOT SA BATONG MAINIT (TOUCHSTONE MASSAGE)</strong></p>
          <p>Healed black granite stones are used to massage the body. The heat penetrates deep into the body to ease tight muscles and promote relaxation and sense of calmness. A must for highly-stressed individuals</p>
      </ion-col>
      <ion-col size="12">
          <img src="/../assets/images/spa/hilot-bato.jpg" alt="">
      </ion-col>
      <ion-col size="12">
          <p><strong>PAPAYA WRAP</strong></p>
          <p>This therapy involves full body exfoliation to nourish and soften the skin, ending with a luxurious Jacuzzi bath infused with calamansi, coconut milk, and salt. It also showcases other fresh local ingredients such as mashed papaya and banana fronds. Aside from its anti-aging action, papaya has also been proven useful in lightening dark spots and toning the skin.</p>
      </ion-col>
      <ion-col size="12">
          <img src="/../assets/images/spa/papaya-wrap.jpg" alt="">
      </ion-col>
      <ion-col size="12">
          <hr>
      </ion-col>
      <ion-col size="12">
          <h1>Spa Information</h1>
      </ion-col>
      <ion-col size="12">
          <p><strong>AMUMA SPA GYM</strong></p>
          <p>Enhance your spa experience with a variety of wellness activities while on vacation. The Spa has a fully-equipped Gym for you to continue your fitness regimen or start a new one with a Personal Trainer. Zumba sessions, Yoga and other wellness activities can also be availed upon prior reservation at the Amuma Spa.</p>
      </ion-col>
      <ion-col size="12">
          <img src="/../assets/images/spa/amuma-gym.jpg" alt="">
      </ion-col>
      <ion-col size="12">
          <p><strong>AMUMA SPA SALON</strong></p>
          <p>At the Salon, a full range of beauty services complement Amuma Spa treatments. Relax in the care of trained professionals who can provide you with a full range of treatments and services. Your visit will be personalized and fit to your style, whether it be a simple manicure or lovely wedding make-over, we have every detail covered.</p>
          <p>Our services include hair, hand and foot care treatments. Waxing services and make-up application are also available.</p>
      </ion-col>
      <ion-col size="12">
          <img src="/../assets/images/spa/amuma-salon.jpg" alt="">
      </ion-col>
      <ion-col size="12">
          <p><strong>OTHER FACILITIES</strong></p>
          <ul>
              <li>Amuma Spa Guest Rooms</li>
              <li>Amuma Spa Center</li>
              <li>2 Suites with Private Jacuzzi, Steam Bath & Veranda</li>
              <li>3 Single Treatment Rooms with Veranda</li>
              <li>Men's and Women's Locker Rooms</li>
              <li>Amuma Spa Gym</li>
              <li>Amuma Spa Salon</li>
              <li>Spa Boutique</li>
              <li>Amuma Juice Bar serving healthy fare and fresh juice cococtions</li>
          </ul>
      </ion-col>
      <ion-col size="12">
          <img src="/../assets/images/spa/facilities.jpg" alt="">
      </ion-col>
      <ion-col size="12">
          <p><strong>HOURS</strong></p>
          <p>Spa appointments begin at 10:00 am until 12 MN daily. The gym is open from 6:00 am to 10:00 pm every day for your workout enjoyment. Salon is open from 10:00 am to 6:00 pm.</p>
      </ion-col>
      <ion-col size="12">
          <p><strong>THINGS TO KNOW</strong></p>
      </ion-col>
      <ion-col size="12">
          <p>Reservations can be made at the Amuma Spa reception desk or by calling telephone number (032) 402 4100 extension 5201. To ensure your preferred treatment times, it is recommended to schedule appointments well in advance of your arrival date. Company and group reservations are available.</p>
          <p>Appointments begin promptly as scheduled. Should you arrive late, your appointment may be shortened to allow the spa specialist to be on time for her or his next appointment.</p>
          <p>Please arrive early to allow time for a short questionnaire to personalize your treatments. Your comfort and care are of the greatest concern and priority, so please let your spa therapist know if they can assist you in finding your comfort levels.</p>
          <p>The use of spa facilities is free for guests availing of treatments. Guests under the age of 18 are not permitted.</p>
      </ion-col>
      <ion-col size="12">
          <img src="/../assets/images/spa/things-to-know.jpg" alt="">
      </ion-col>
  </ion-row>
</ion-content>
<ion-footer>
  <ion-toolbar color="primary">
      <ion-button expand="full" fill="clear" color="light" style="font-weight: 600" (click)="openBrowser()">Book Now</ion-button>
  </ion-toolbar>
</ion-footer>
