<!-- <ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-buttons slot="end">
			<ion-icon icon="notifications" style="font-size: 30px;"></ion-icon>
		</ion-buttons>
		<ion-title>
			Dining
		</ion-title>
	</ion-toolbar>
</ion-header> -->
<app-header></app-header>

<ion-content>
	<ion-row>
		<ion-col size="12" class="ion-no-padding banner">
			<img src="/../assets/images/dining/dining_header.jpg" alt="">
		</ion-col>
	</ion-row>
	<ion-row class="container">
		<ion-col size="12">
			<div style="text-align: center;">
				<h1>Feast of Flavors</h1>
				<p style="font-style: italic;">
					There is nothing quite like a Filipino feast. Amuma means going all out for every guest. It means we
					won’t just serve a feast, we’ll even join you in song, to create exquisite moments you won’t soon
					forget.
				</p>
			</div>
		</ion-col>
		<ion-col size="12">
			<img src="/../assets/images/dining/allegro.jpg" alt="">
		</ion-col>
		<ion-col size="12">
			<img src="/../assets/images/dining/allegro_logo.jpg" alt="">
		</ion-col>
		<ion-col size="12">
			<p>
				Allegro Restaurant is Bluewater Maribago's main restaurant. It offers al fresco dining by the
				poolside patios. The restaurant is open 24 hours daily and is popular for its ala carte and buffet
				menu options. Enjoy its nightly themed dinners especially the Barrio Fiesta dinner every Saturday
				night where guests can immerse in local culture through live cultural presentations.
			</p>
		</ion-col>
		<!--<ion-col size="6">
			<ion-button expand="block">Reserve Now</ion-button>
		</ion-col>
		<ion-col size="6">
			<ion-button expand="block">Download Menu</ion-button>
		</ion-col>-->
		<ion-col size="12">
			<hr>
		</ion-col>
		<ion-col size="12">
			<img src="/../assets/images/dining/the-cove.jpg">
		</ion-col>
		<ion-col size="12">
			<img src="/../assets/images/dining/the-cove-logo.jpg">
		</ion-col>
		<ion-col size="12">
			<p>The Cove is a live seafood restaurant that offers panoramic view of the Bluewater private island and the open sea. Cool and breezy, this premier dining outlet is one of Cebu's best places to indulge in the freshest bounty of the sea. Experience a culinary journey that goes beyond fresh.</p>
			<p>The Cove is open for lunch from 11:00 am to 3:00 pm and dinner starting at 6:00 pm until 10:00 pm daily.</p>
		</ion-col>
		<!--<ion-col size="6">
			<ion-button expand="block">Reserve Now</ion-button>
		</ion-col>
		<ion-col size="6">
			<ion-button expand="block">Download Menu</ion-button>
		</ion-col>-->
		<ion-col size="12">
			<hr>
		</ion-col>
		<ion-col size="12">
			<img src="/../assets/images/dining/oyster-bar.jpg">
		</ion-col>
		<ion-col size="12">
			<img src="/../assets/images/dining/oyster-bar-logo.jpg">
		</ion-col>
		<ion-col size="12">
			<p>Oyster Bar is an open-air located on the beachront of Bluewater Maribago Beach Resort right next to the Cove. It is the place to unwind and enjoy fresh oysters and your favorite drink with its daily happy hour specials. One can enjoy a spectacular view of the sunset while having a tall glass of your favorite cocktail in its viewing deck. Open daily from 10:00 am until 10:00 pm.</p>
		</ion-col>
		<!--<ion-col size="6">
			<ion-button expand="block">Reserve Now</ion-button>
		</ion-col>
		<ion-col size="6">
			<ion-button expand="block">Download Menu</ion-button>
		</ion-col>-->
		<ion-col size="12">
			<hr>
		</ion-col>
		<ion-col size="12">
			<img src="/../assets/images/dining/delfinos.jpg">
		</ion-col>
		<ion-col size="12">
			<img src="/../assets/images/dining/delfinos-logo.jpg">
		</ion-col>
		<ion-col size="12">
			<p>Delfino's is an Italian Restaurant that offers brick oven specialties like its trademark pizzas and pasta dishes. It also offers fresh salads, sandwiches, desserts and cool refreshments. Delfino's is open daily from 11:00 am to 10:00 pm.</p>
		</ion-col>
		<!--<ion-col size="6">
			<ion-button expand="block">Reserve Now</ion-button>
		</ion-col>
		<ion-col size="6">
			<ion-button expand="block">Download Menu</ion-button>
		</ion-col>-->
		<ion-col size="12">
			<hr>
		</ion-col>
        <ion-col size="12">
            <img src="/../assets/images/dining/juicebar.jpg">
        </ion-col>
        <ion-col size="12">
            <img src="/../assets/images/dining/juicebar-logo.png">
        </ion-col>
        <ion-col size="12">
            <p>Amuma Juice Bar is the place for a light fare to complement the Amuma Spa's relaxing therapies. It offers fresh fruit and salads, light meals, and sandwiches. The Amuma Juice Bar also has innovative fruit and vegetable-based drinks, milkshakes and flavored iced teas. Open daily from 9:00 am to 6:00 pm.</p>
        </ion-col>
        <!--<ion-col size="6">
            <ion-button expand="block">Reserve Now</ion-button>
        </ion-col>
        <ion-col size="6">
            <ion-button expand="block">Download Menu</ion-button>
        </ion-col>-->
		<ion-col size="12">
			<hr>
		</ion-col>
		<ion-col>
			<h1>Themed Dinners</h1>
			<img src="/../assets/images/dining/kabilin.jpg">
			<p><strong>Kabilin - Sundays 6pm to 9pm</strong></p>
			<img src="/../assets/images/dining/savores-del-sur.jpg">
			<p><strong>Savores Del Sur - Mondays 6pm to 9pm</strong></p>
			<img src="/../assets/images/dining/tara-sa-norte.jpg">
			<p><strong>Tara sa Norte - Tuesdays 6pm to 9pm</strong></p>
			<img src="/../assets/images/dining/cebuano-street-fest.jpg">
			<p><strong>Cebuano Street Fest - Wednesdays 6pm to 9pm</strong></p>
			<img src="/../assets/images/dining/taste-of-asia.jpg">
			<p><strong>Taste of Asia - Thursdays 6pm to 9pm</strong></p>
			<img src="/../assets/images/dining/lapyahan.jpg">
			<p><strong>Lapyahan Seafood Night - Fridays 6pm to 9pm</strong></p>
			<img src="/../assets/images/dining/barrio-fiesta.jpg">
			<p><strong>Barrio Fiesta - Saturdays 6pm to 9pm</strong></p>
		</ion-col>
	</ion-row>
</ion-content>
<ion-footer>
	<ion-toolbar color="primary">
		<ion-button expand="full" fill="clear" color="light" style="font-weight: 600" (click)="openBrowser()">Book Now</ion-button>
	</ion-toolbar>
</ion-footer>
